@using Csharp_LognReg.Models


    <h1 class="header"><b>User Login</b></h1>

@model LoginUser

    <form asp-action="Login" asp-controller="Home" method="post">

        <span asp-validation-for="Email"></span><br>
        <label asp-for="Email"></label>
        <input asp-for="Email"><br>

        <span asp-validation-for="Password"></span><br>
        <label asp-for="Password"></label>
        <input asp-for="Password"><br>

        <!-- <span asp-validation-for="Confirm"></span><br>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm"><br>
         -->
        <input value="LOG IN" class="btn btn-primary" type="submit">
        <div class="buttonz">
            <a href="/" class="btn btn-primary">HOME</a>
        </div>
    </form>


